/*Tablet*/
@media all and (max-width:1000px ){
	.top-text h2 {
		font-weight: normal;
	}

	.profile-container {
	width: 50%;
	}
	.form-item input {
		width: 80%;
	}
	
}

/* Smartphone */

@media	all and (max-width:670px){
	h1 {
		font-size:24px;
	}
	.top-text h2 {
		font-weight: normal;
	}
	h2 {
		font-size: 18px;


	}

	.profile-container {
		width: 100%;
	}
	.form-item input {
		width: 90%;
	}
	.header-left span{
		display: block;
	}
	.menu-logo:hover{
		padding-top:0;
		height: 50px;
		display: inline-block;
	}
	.header-list li a {
	
	display: none;
	}

	 .btn2 {
    	width: 30%;
 	 }
 	.daftar-btn input{
  		width: 90%;
  	}
 	.daftar-btn input:active{
  	width: 88%;
  	}
  
  
  .facebook {
    margin-bottom: 10px;
     /*padding: 10px 142px;*/
  }
  .google {
    margin-bottom: 10px;
    /*padding: 10px 150px;*/
  }

}
