a {
	text-decoration: none;
}
li {
	list-style: none;
}
.container {
  max-width: 1170px;
  width: 100%
  padding: 0 15px;
  margin: 0 auto;
}
.header {
	height: 60px;
	background-color: #483D8B;
}
.header-logo {
	float: left;
	padding: 10px 20px;
}
.header-logo img {
	height: 40px;
}
.header-logo img:hover{
	opacity: 0.7;
}

.header-left span {
	color: white;
  	float: left;
  	font-size: 30px;
 	padding: 15px 0;
	display: none; 
}



.header-list li {
	float: left;
	
}
.header-list li a {
	color: white;
	padding: 0 20px;
	line-height: 60px;
	display: block;
}



.header-list li a:hover {
  background-color: rgba(255, 195, 0, 0.7);
}
.header-list li a:active {
  background-color: rgba(255, 87, 51, 0.7);
}
.top-wrapper {
	padding: 120px 0px 100px 0px;
	background-size: cover;
	background-image: url('profile_building.jpeg');
	color: white;
	text-align: center;
}
.top-text h1{
	letter-spacing: 5px;
}

.top-text h2 {
	padding: 0 5%;
}
.top-text span {
	color: rgb(255,195,0);
}
.description {
	padding: 30px 0px 30px 0px;
	text-align: center;
	background-color: #B0E0E6;
}
.description-text p{
	display: inline-block;
	width: 70%;
}
.profile {
	
	padding: 30px 0px 30px 20px;
	background-color: #f7f7f7;
	text-align: center;
}
.clear	{
	clear: left;
}

.profile-heading {
	color: rgb(52, 18, 149);
	line-height: 15px;
}

/*
.profile-all{
	
	display:grid;
    list-style-type:none;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(2, 25%);
}
.all-2 {
	display:grid;
    list-style-type:none;
    margin:0 60px; 
    padding:0 40px;
    grid-template-columns: repeat(2, 25%);
    grid-template-rows: repeat(2, 25%);
}
*/
.profile-container {
	padding-top:20px;
	margin-bottom: 20px;
	float: left;
	width: 20%;
}
.profile-desc {
	width: 95%;
	border: 1px solid	#FFC300;
}

.profile-desc p{
	padding: 0 2%;
}
.profile-desc img{
	padding-top: 10px;
	width: 200px;
	height: 300px;
}
.form{
	padding: 30px 0px 30px 0px;
	height: 400px;
	text-align: center;
	background-color:#B0E0E6;
}
.form-item{
	padding-bottom: 20px;
}
.form-item input{
	width: 40%;
	height: 40px;
	color: #CBC8D6;
	border-radius: 5px;
	 padding: 2px 5px;
	 font-size: 15px;
}


}
.form-input{
	color:#889eab;
}

.daftar-btn input{
	width: 40%;
	font-weight: bold;
	font-size: 30px;
	background-color: #E3DA14 ;
	text-align: center;
	height: 40px;
	padding: 2px 5px;
	 font-size: 15px;
	 border: none;
	 cursor: pointer;
	 box-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}

.daftar-btn input:Hover{
	
	background-color: #F3FF33 ;
	
}
.daftar-btn input:active{
	
	width: 38%;
	height: 38px;
	
}

.footer{
	height: 30px;
	color: white;
	background-color: #4682B4;
	text-align: right;
	display: block;
	padding:30px 0 30px 0;
}

.btn2-wrapper {
	 text-align: center;
  margin: 20px 0;
}

.btn2-wrapper p {
  margin: 10px 0;
}



.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.google {
  background-color: #4682B4;
}

/*.footer{
	margin-top: 10px;
}*/
